<div id="site-content">
<!-- <div class="content-no-logged-in home-page">
	<div class="home-carousel iphone-hidden hide animated" data-bg-carousel-width="3368" data-auto-rotate="true" style="background-position: -417915px 0px;"></div>
	<div class="container position-relative">
		<div data-carousel="navigation"></div>
			<button class="" data-stop-pos="753"></button>
				0
				</button>
			<button class="" data-stop-pos="1710"></button>
				1
				</button>
			<button class="" data-stop-pos="3005"></button>
				2
				</button>
			</div>
		</div>
	</div>
	<div class="home-hero-samples option1">
		<div class="container">
			<div class="home-hero-samples content option1">
				<h2>
					Curated Care Packages
					<strong>
						UNLOCK WHAT'S INSIDE
					</strong>
				</h2>
				<div>
					<a class="btn btn-transparent" href=""></a>
				</div>
			</div>
		</div>
	</div>
	<div class="home-hero-samples option2 hide">
		<div class="container">
			<div class="home-hero-samples-content option2">
				<h2>
					H2 HEADING
				</h2>
				<h1>
					H1 LOWER DOWN
				</h1>
				<p> This is a paragraph to say something. </p>
				<div>
					<a class="btn" href=""></a>
				</div>
			</div>
		</div>
	</div>
	-->

	<!-- intro -->
	<div class="home-intro">
		<div class="container text-center">
			<h1>
				Making someones day just got easier :) </br> Send some joy, near or far! 
			</h1>
			<p>
				<a class="btn btn-white" href="">
					Shop
				</a>
			</p>


<div class="center hero-unit">
  <h1>WELCOME!</h1>
<h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
</h2>
<%= link_to "Ask for a Box!", '#', class: "btn btn-large btn-primary" %> </div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>


