<% provide(:title, 'Press') %>  
<div class="container">
	<div class="row span12">
		<div class="content-heading"><h1>PRESS</h1>
		</div>
	</div>
	<div class="row span12">
		<div class="span12" style="text-align:center;">
			<div class="content-heading"><h3>In the News</h3>
			</div>
		</div>
		<div class="span12" style="text-align:center;">
			<div class="content-heading"><h3>Media Inquiries</h3>
			</div>
		</div>


<!--

	<div class="row span 4">
	   		<h3> In the News </h3><br>
	    		<a style= "margin-left: 0px;"id="bostonglobe" href="/"><%= link_to image_tag("bostonglobe.jpeg", alt:"the boston globe")%>
			<p > The October Boston Globe Magazine features women entrepreneurs, including OOLAA Founder Jacqueline Boltik. </p>
	    <div class="row span4"></div>
	    <div class="row span4"></div>
	    	<h3> Media Inquiries </h3>
	    		<p> Please contact press@oolaabox.com</p>
	</div>
-->
		
				


	<!--	<h1>PRESS</h1>
	<h3> In the News </h3>
		<a style= "margin-left: 60px;"id="bostonglobe" href="/" style="img align: middle"><%= link_to image_tag("bostonglobe.jpeg", alt:"the boston globe")%>
			<p style="margin-left: auto; margin-right: auto; width: 18em;"> The October Boston Globe Magazine features women entrepreneurs, including OOLAA Founder Jacqueline Boltik. </p><br><br> 
	<h3> Media Inquiries </h3>
		<p> Please contact press@oolaabox.com</p>


	<div class="container">
			<div class="row-fluid">
				<div class="span12 clearfix" >
					<article class="system-message span6">
						<p>
							<strong>
								FREE STANDARD SHIPPING
							</strong>
							ON US ORDERS
						</p>
						-->