<footer class="site-footer">
	<div class="wrapper" style="background:#000000">
		<div class="container">
			<div class="row-fluid">
				<div class="span7">
					<div class="span4 content-no-printable">
						<nav class="footer-block-nav">
							<a title="About" href="/static_pages/about">
								About
							</a>
							<a title="Contact" href="/static_pages/contact">
								Contact
							</a>
						</nav>
					</div>
					<div class="span4 content-no-printable">
						<nav class="footer-block-nav">
							<a title="FAQ" href="/static_pages/contact">
								FAQ
							</a>
							<a title="Press" href="#">
								Press
							</a>
						</nav>
					</div>
					<div class="span4 content-no-printable">
						<nav class="footer-block-nav">
							<a title="Received a Gift?" href="#">
								Received a Gift? 
							</a>
							<a title="Blog" href="#">
								Blog
							</a>
						</nav>
					</div>
					<div class="span12 footer-social">
						<a class="img-social-link facebook" href="http://facebook.com/oolaausa">
							Facebook
						</a>
						<a class="img-social-link twitter" href="http://twitter.com/oolaagirl">
							Twitter
						</a>






<!--

	<div class="wrapper" style="background:#000000"></div>
	<div class="wrapper content-no-printable" style="background:#000000">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<nav class="footer-nav"></nav>
						<span class="dropdown"></span>
							<li><%= link_to "Link to FB", about_path %></li>
							<li><%= link_to "Link to Twitter", contact_path %></li>
						<span></span>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>