<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
	<div class="container">
		<ul class="nav pull-right">
			<li><%= link_to "LOGIN", '#' %></li>
			<i class="icon-shopping-cart icon-white"></i>
		</ul>
		<ul class="nav pull-left">
			<p class="navtext"> free standard shipping on us orders</p>
		</ul> 
	</div>
	
	<div class="container">
		<nav>
			<ul class="nav pull-right">
				<form class="navbar-form navbar-left" role="search">
  					<div class="form-group">
    					<input type="text" class="form-control" placeholder="Search">
  					</div>
				</form>
			</ul> 
			<ul class="nav pull-left">
				<li><%= link_to "SHOP", box_path %></li> 
				<li><%= link_to "ABOUT", about_path %></li>
				<li><%= link_to "CONTACT", contact_path %></li> 
			</ul>
		</nav>
    </div>
  </div>
</header> 